body {
  height: 320px;
  width: 480px;
  overflow: hidden;
  text-align: center;
  background: #4f234a;
  background: linear-gradient(to bottom,  #4f234a 0%,#3f0030 100%);
}

#cameraPreview {
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 320px;
  z-index: 1;
  margin-left: 27px;
}

#cameraResult {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 320px;
  z-index: 3;
}

.btn {
  width: 160px;
  height: 55px;
  line-height: 55px;
  opacity: 0.7;
  background-color: #fff;
  color: #4f234a;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 1px solid #361b31;
  border-radius: 5px;
  position: absolute;
}

.take-snapshot-btn {
  top: 250px;
  left: 40px;
  z-index: 2;
}

.clear-snapshot-btn {
  display: none;
  top: 250px;
  left: 278px;
  z-index: 4;
}

.take-snapshot-btn:hover {
  background-color: #d3d3d3;
}